body {
  font-family: "JetBrains Mono", monospace;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
}

// Light mode
:root {
  background-color: #ffffff;
  color: #222222;
  --font-primary-color: #222222;
  --background-color: #ffffff;
  --card-background-color: #ffffff;
  --card-border-color: #f7f7f7;
  --footer-color: #222222;
  --iconLink-color: #ffffff;
  --iconLink-color-hover: #444444;
  --arrow-bottom: #222222;
  --title-border-color: #222222;
}

[data-theme="dark"] {
  background-color: #222222;
  color: #f7f7f7;
  --font-primary-color: #f7f7f7;
  --background-color: #222222;
  --card-background-color: #d33c3c;
  --card-border-color: #333333;
  --footer-color: #f7f7f7;
  --iconLink-color: #222222;
  --iconLink-color-hover: #444444;
  --arrow-bottom: #ffffff;
  --title-border-color: #f7f7f7;
}
