// Light mode colors
$font-primary-color-light: #222222;
$background-color-light: #ffffff;
$card-border-color-light: #f7f7f7;
$footer-color-light: #222222;
$iconLink-color-light: #222222;
$iconLink-color-light-hover: #444444;
$arrow-bottom-light: #222222;
$title-border-color-light: #222222;

// Dark mode colors
$font-primary-color-dark: #f7f7f7;
$background-color-dark: #222222;
$card-background-color-dark: #050404;
$card-border-color-dark: #000000;

// Shared
$jetbrains-mono: "JetBrains Mono", monospace;
