.box {
  margin: 32px;
  max-width: 700px;
  // aspect-ratio: 16/9; /* 縦横比を指定 */
  // width: 60%;
}

.slider {
  // text-align: center;
  // display: flex;
  // justify-content: center; /* 横方向の中央揃え */
  // align-items: center; /* 縦方向の中央揃え */
  // aspect-ratio: 16/9; /* 縦横比を指定 */
  width: 60%;
}

.image__box {
  width: 100%;
  height: auto;
  // aspect-ratio: 16/9; /* 縦横比を指定 */
}
