.card {
  width: 60vw; /* ボックスの幅 */
  border-radius: 16px; /* 角を丸くする */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 少し影をつけて立体感を出す */
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 64px;
  display: grid;
  grid-template-rows: 100px auto 60px; /* 各行の高さを指定 */
  gap: 10px; /* 行の間隔 */
  background-color: var(--card-background-color);
  color: var(--font-primary-color);
  border: 1px solid var(--card-border-color);

  @media (max-width: 768px) {
    width: 80vw; /* スマホでは幅を80vwに変更 */
  }

  & &__title {
    font-size: xx-large;
    margin-left: 24px;
  }

  & &__picture {
    width: 50px;
    height: 50px;
  }

  & &__content {
    margin-left: 24px;
    margin-right: 24px;
  }

  & &__footer {
  }
}
.picture {
  width: 50px;
  height: 50px;
}
