.container {
  display: flex;
  height: 100%; /* 親に依存した高さ */

  & &__left {
    flex: 2; /* 左側を2に設定（2/5） */
    margin: 8px;
    margin-top: 3%;
  }

  & &__right {
    margin-left: 5%;
    position: relative;
    flex: 3; /* 右側を3に設定（3/5） */
    height: 100%; /* 親要素に依存 */
    white-space: pre-line;
    font-size: large;
    line-break: loose;
    overflow: auto;
  }

  & &__content {
    margin: 8px;
  }
}
