.container {
  display: flex;
  flex-direction: row; /* デフォルトで左右に並ぶ */
  height: 100%; /* 親に依存した高さ */
  margin-bottom: 5%;

  & &__left {
    flex: 2; /* 左側を2に設定（2/5） */
    margin-top: 3%;
    display: flex;
    justify-content: center; /* 左右中央揃え */
    align-items: center; /* 上下中央揃え */
  }

  & &__right {
    margin-left: 5%;
    position: relative;
    flex: 3; /* 右側を3に設定（3/5） */
    height: 100%; /* 親要素に依存 */
    white-space: pre-line;
    font-size: large;
    line-break: loose;
    overflow: auto;
  }

  & &__content {
    height: 100%; /* 親要素に依存 */
    margin: 8px;
  }

  /* スマホ版では上下にレイアウト */
  @media (max-width: 768px) {
    flex-direction: column; /* 上下に並ぶ */
    height: auto; /* 高さは自動調整 */

    & &__left,
    & &__right {
      flex: none; /* 上下レイアウトの際はフレックスを解除 */
      width: 100%; /* 両方を全幅にする */
      height: auto; /* 高さも自動にする */
    }
  }
}

.background {
  background: radial-gradient(
      105.68% 45.69% at 92.95% 50%,
      rgba(182, 221, 224) 0%,
      rgba(160, 255, 244, 0.095) 53.91%,
      rgb(255, 255, 255) 100%
    ),
    radial-gradient(
      103.18% 103.18% at 90.11% 102.39%,
      #c9fff2 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      90.45% 90.45% at 87.84% 9.55%,
      #ffd2f5 0%,
      rgb(255, 255, 255) 100%
    ),
    linear-gradient(
      135.66deg,
      rgba(203, 185, 255) 14.89%,
      rgb(255, 255, 255) 74.33%
    );
  background-blend-mode: normal, normal, normal, normal, normal, normal;
}
