.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  z-index: 0; /* 親要素に対してz-indexを0にする */
}
.page::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: -1; /* 背景が他の要素より背面に表示されるようにする */
  width: 50%;
  height: 50%;
  border-radius: 15rem;
  background: linear-gradient(180deg, #341d65 0%, rgba(52, 29, 101, 0) 100%),
    radial-gradient(
      94.51% 124.88% at 94.32% 94.43%,
      rgba(65, 244, 255, 0.78) 0%,
      rgba(128, 217, 255, 0.78) 46.52%,
      rgba(65, 198, 255, 0) 100%
    ),
    linear-gradient(41deg, #fffce6 4.33%, rgba(255, 252, 230, 0) 73.7%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(40px);
  transform: translate(-50%, -50%); /* 中央に配置 */
}

.productImage {
  position: relative;
  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  width: 60%;
  overflow: hidden;
  // top: -5vh; // 画像の上部を少し隠すように調整
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page__title {
  font-size: xx-large;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title {
  color: var(--font-primary-color);
  &__content {
    padding: 0.5rem;
    display: inline-block;
  }
}
.page__content {
  display: grid;
  position: relative;
  z-index: 1; /* page::beforeよりも前面に表示されるようにする */
  grid-template-columns: 1fr 2fr; /* デフォルトは2カラム（左: 1fr, 右: 2fr） */
  grid-gap: 2rem;
  width: 90%;
  max-width: 1200px;
  padding-left: 10%;
  padding-right: 10%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; /* スマホでは1カラムに */
    padding-left: 0; /* スマホ用にパディングを調整 */
    padding-right: 0;
  }
}

.page__contentLeft,
.page__contentRight {
  padding: 10%;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);

  @media (max-width: 768px) {
    padding: 5%; /* スマホ用にパディングを調整 */
  }
}

.content {
  white-space: pre-line;
  font-size: large;
  line-break: loose;
  overflow: auto;
}

.iconContainer {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.iconLink {
  color: var(--iconLink-color);
  font-size: 2.5rem;
  text-decoration: none;
  width: 30px;
}

.iconLink:hover {
  color: var(--iconLink-color-hover);
}

.icon {
  transition: color 0.3s;
}
